@charset "UTF-8";

h1 {
    background-color:goldenrod;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
 }
body {
     background: #e9e7de;
 }
\* logo no canto superior */
#canto {
     top: 0px;
     left: 300px;
     

}

/* FORMATAÇÃO DO MENU */
nav#menu {
     display: block;
}
nav#menu ul {
     list-style: none;
     text-transform: uppercase;
     position: absolute;
     top: -20px;
     right: 30px;
}
nav#menu li {
     display: inline-block;
     background-color: #ffffff;
     padding: 10px;
     margin: 2px;
     transition: background-color 1s;
}
nav#menu li:hover {
     background-color: #005700;
}
nav#menu h1 {
     display: none;
}
nav#menu a {
     color: #000000;
     text-decoration: none;
}
nav#menu a:hover {
     color: #ffffff;

}

/* TABELA DE CONTROLE DE TONER */
table {
    border-style: hidden;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 2px 2px 10px;
    align: center;
}    
thead {
  background-color:  #595c58fa;
  color: #fffffffa;
}
td {
  padding: 5px;
}
td.cor1 {
         background-color:rgba(0, 0, 0, 0.945);
         color: #ffffff;
         text-transform: uppercase;
}
td.cor2 {
        background-color:rgba(255, 251, 0, 0.89);
        color: #000000;
        text-transform: uppercase;
}
td.cor3 {
        background-color:rgba(247, 0, 247, 0.795);
        color: #000000;
        text-transform: uppercase;
}
td.cor4 {
         background-color:rgba(9, 176, 182, 0.863);
         color: #000000;
         text-transform: uppercase;
}
\* Organizando rodapé no final do site */
footer#rodape {
         border-top: 1px solid #606060;
}
footer#rodape p {
         text-align: center;
         top: 20px;
  
}
