@charset "UTF-8";

h1 {
    background-color:goldenrod;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
 }
body {
     background: #056aec;
 }
/* TABELA DE CONTROLE DE TONER */
table {
    border-style: hidden;
}
thead {
  background-color: #83e77afa;
}
td {
  padding: 5px;
}

