@charset "UTF-8";

h1 {
    background-color:goldenrod;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
 }
body {
     background: #99d494fa;
 }

/* TABELA DE CONTROLE DE TONER */
table {
    border-style: hidden;
}
thead {
  background-color:  #595c58fa;
  color: #fffffffa;
}
td {
  padding: 5px;
}

