
    text-align:center;
    background-position: center top;
  }
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right:10px;
  }
